* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

// Variables
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

$colors: (
    'primary': #9356DC,
    'secondary': #FF79DA,
    'tertiary':#99E2D0
);

@each $color,
$value in $colors {
    .colo-#{$color} {
        color: #{$value};
    }
}

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$color-bg: #FFFFFF;
$color-form: #F6F6F7;
$color-form-hover: #F5ECFE;
$color-footer: #353535;
$grey: #EBEBEA;


@media only screen and (max-width: 767px) {

    #loader {
        width: 100%;
    }



    // ----- Header start ----- //
    .header {

        &__logo {
            width: 100%;
            text-align: center;
            box-shadow: 0 5px 5px rgba(0, 2, 4, 0.4);
            display: inline-block;
            padding: 10px 0;

            &__image {
                width: 10em;
                position: relative;
            }
        }
    }

    .card {
        &__container {
            &__img {
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    // ----- Header end ----- //


    // ----- Présentation start ----- //

    // ----- Présentation end ----- //


    // ----- Fonctionnement start ----- //

    // ----- Fonctionnement end ----- //

    // ----- Restaurants start ----- //

    // ----- Restaurants end ----- //


    // ----- Menus start ----- //

    // ----- Menus end ----- //

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    // ----- Header start ----- //

    // ----- Header end ----- //


    // ----- Présentation start ----- //

    // ----- Présentation end ----- //


    // ----- Fonctionnement start ----- //

    // ----- Fonctionnement end ----- //

    // ----- Restaurants start ----- //

    // ----- Restaurants end ----- //


    // ----- Menus start ----- //

    // ----- Menus end ----- //

}

@media only screen and (min-width: 992px) {
    body {
        max-width: 1400px;
    }


    // ----- Header start ----- //

    // ----- Header end ----- //


    // ----- Présentation start ----- //

    // ----- Présentation end ----- //


    // ----- Fonctionnement start ----- //

    // ----- Fonctionnement end ----- //

    // ----- Restaurants start ----- //

    // ----- Restaurants end ----- //


    // ----- Menus start ----- //

    // ----- Menus end ----- //
}